@inherits LayoutComponentBase

<MatAppBarContainer style="min-width: 100%; min-height: 100%; position: relative;">
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu" OnClick="@((e) => ButtonClicked())"></MatIconButton>
                <MatAppBarTitle>Blazor Material Design App</MatAppBarTitle>
            </MatAppBarSection>

            <MatAppBarSection Align="@MatAppBarSectionAlign.End">

                <NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>

                <NavLink class="text-white nav-link" href="Counter">
                    Counter
                </NavLink>

                <NavLink class="text-white nav-link" href="FetchData">
                    FetchData
                </NavLink>

            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>

    <MatAppBarContent>
        <MatDrawerContainer>
            <MatDrawer Opened="@Opened" Mode="@MatDrawerMode.Modal">
                <MatListGroup>
                    <MatListGroupSubHeader>Dashboard</MatListGroupSubHeader>
                    <MatList>
                        <MatListItem>
                            Post
                        </MatListItem>
                        <MatListItem>
                            Pages
                        </MatListItem>
                        <MatListItem>
                            Media
                        </MatListItem>
                    </MatList>
                    <MatListGroupSubHeader>Account Settings</MatListGroupSubHeader>
                    <MatList>
                        <MatListItem>
                            Profile
                        </MatListItem>
                        <MatListItem>
                            Password
                        </MatListItem>
                        <MatListItem>
                            Logout
                        </MatListItem>
                    </MatList>
                </MatListGroup>
            </MatDrawer>
        </MatDrawerContainer>

        <MatDrawerContent Style="display: flex; width: 100%; height: 100%;">
            <div Style="margin: 1em; padding: 1em;" class="container">
                @Body
            </div>
        </MatDrawerContent>
    </MatAppBarContent>
</MatAppBarContainer>

@functions {
    bool Opened = false;
    void ButtonClicked()
    {
        Opened = !Opened;
    }
}